<?xml version="1.0" encoding="UTF-8"?>

<element>
	<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="stdId" class="in.spring.beans.Student">

			<property name="name" value="Shri" />
			<property name="rollNo" value="101" />
			<property name="email" value="shri@gmail.com" />

		</bean>

	</beans>
</element>